.overplay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(29, 28, 28);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;

}
.loader{
    width: 80px;
    height: 80px;
    background-color: red;
}

.loader::after{
    content:'';
    display: block;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 6px solid #fff 
    border-color: #fff transparent #fff transparent;
    margin: 8px; 
}